<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photo&Visual</title>
    <link rel="icon" type="image/x-icon" href="/static/img/screen1/favicon.ico">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<main>
    <div class="bd">
        <header>
            <img src="/static//img/screen1/menu.svg" alt="">
        </header>
        <section class="main">
            <div class="socialmedia">
                <img class="icons" src="/static//img/screen1/instagram.svg" alt="">
                <img class="icons" src="/static//img/screen1/youtube.svg" alt="">
                <img class="icons" src="/static//img/screen1/tiktok.svg" alt="">
                <img class="line" src="/static//img/screen1/line.svg" alt="">
            </div>
            <div class="maintext">
                <h2>Photography and visual arts school</h2>
                <h1>VisioCapture Arts Institute</h1>
                <p>“Capture the Vision, Illuminate the Art”</p>
            </div>
        </section>
    </div>
        <section class="aboutus">
            <div class="text2">
                <h1>
                    ABOUT US
                </h1>
                <p>
                    Welcome to VisioCapture Arts Institute!
                    At VisioCapture, we believe in the transformative power of visual arts 
                    <br>and photography. Our mission is to provide a comprehensive and  <br>enriching educational experience for aspiring photographers and visual <br> artists.
                </p>
                <p class="p2">
                    Our team of experienced instructors is dedicated to fostering creativity, technical proficiency, and professional development in our students. We offer a range of courses designed to cater to beginners, advanced practitioners, and those looking to hone their skills in specialized areas such as digital image editing, visual storytelling, and professional practices in photography.
                </p>
            </div>
        </section>
        <div>
            <img class="img" src="/static//img/screen1/Group 4 (2).png" alt="">
        </div>
        <section class="urcourses">
            <h1>
                YOUR COURSES
            </h1>
            <p>
                As an online institute, we provide flexible learning opportunities for students from all walks of life. Whether you're a hobbyist looking to explore photography or an established professional seeking to expand your skill set, we have a course that's tailored to your needs.
    Our philosophy is rooted in the belief that art has the power to change lives and communities. We encourage our students to explore their creative potential, express their unique perspectives, and contribute to the rich tapestry of visual culture.
            </p>
        </section>
</main>
    <img class="Vector1" src="/static/img/screen1/Vector 1.svg" alt="">
    <article class="course">
        <h2>
            “Introduction to Photography”
        </h2>
        <div class="card">
            <img src="/static/img/screen1/image 37.png" alt="">
            <div class="innercard">
                <p>An entry-level course covering the fundamentals of photography, including composition, lighting, and camera settings.</p>
                <a href="">VIEW MORE</a>
            </div>
        </div>
    </article>
    <article class="vector2">
        <img src="/static//img/screen1/Vector 2.svg" alt="">
    </article>
    

    <article class="course2">
        <h2>
            "Advanced Photography Techniques"
        </h2>
        <div class="card2">
            <div class="innercard2">
                <p>An advanced course focusing on specialized techniques such as HDR photography, long-exposure photography, and portrait photography.</p>
                <a href="">VIEW MORE</a>
            </div>
            <img src="/static//img/screen1/image 39.png" alt="">
        </div>
    </article>

    <article class="vector3">
        <img src="/static//img/screen1/Vector 3.svg" alt="">
    </article>


    <article class="course">
        <h2>
            "Visual Storytelling"
        </h2>
        
        <div class="card">
            <img src="/static//img/screen1/image 22.png" alt="">
            <div class="innercard">
                <p>A course focusing on the art of storytelling through visual mediums such as photography and videography.</p>
                <a href="">VIEW MORE</a>
            </div>
           
        </div>
    </article>
<article class="whytochooseus">
    <h1>
        WHY TO CHOOSE US?
    </h1>
</article>
<article class="cards">
    <img class="cards2" src="/static/img/screen1/Group 5.png" alt=""><img src="/static/img/screen1/Group 6 (1).png" alt=""><img class="cards2" src="/static/img/screen1/Group 7 (1).png" alt="">
</article>

<article class="insights">
    <h1>
        INSIGHTS
    </h1>
</article>
<article class="ins-text">
    <p class="p1">In addition to emotion, visual storytelling also has the power to inform and educate. Through carefully crafted compositions and narratives, our students are able to convey complex ideas and concepts in a way that is accessible and engaging.</p>
    <img class="im2" src="/static/img/screen1/Vector 4.svg" alt="">
    <p class="p3">As the world becomes increasingly digital and visual, the ability to tell stories through images and artwork will only become more important. We are proud to be at the forefront of this exciting and dynamic field, and we look forward to helping our students unlock their full creative potential.</p>
    <img class="im3" src="/static/img/screen1/Vector 4.svg" alt="">
    <p class="par">At VisioCapture, we believe that visual storytelling is not just a tool for communication, but a way of seeing the world. By learning to think visually, our students are able to capture the beauty and complexity of the world around them, and share it with others in meaningful and impactful ways.</p>
</article>
<article class="cards">
    <img src="/static/img/screen1/Group 8 (1).png" alt="">
</article>

<footer>
    <div class="line2"></div>
    <h2>
        FOOTER
    </h2>
</footer>
</body>
</html>