<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="/static/login.css">
</head>
<body>
    <section>
        <div class="text">
            <h1>VisioCapture Arts <br> Institute</h1>
            <h2>ONLINE Photography and visual arts school</h2>
        </div>
        <div class="form">
            <form action="/login" method="post">
                <h1>LOG IN</h1>
                <input type="text" required name="login" placeholder="login">
                <input type="password" required name="password" placeholder="password">
                <button type="submit">Log in</button>
            </form>
        </div>
    </section>
    <div class="pustoi">

    </div>
</body>
</html>